// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page_container {
    width: 720px;
    height: 100%;
    margin-left: 16%;
}

.page_container h1{
    font-size: 4vh;
}

.page_container h1, h2 {
    margin-left: 58%;
    font-family: antic-didone, "comic sans ms";

}

.page_container h2 {
    padding-left: 8%;
    font-family: antic-didone, "comic sans ms";

}

#profile_posts {
    width: 100%;
    padding: 20px;
    padding-left: 200px;
}

#profile_posts h2 {
    padding-left: 285px;
}

#personal_posts {
    overflow: scroll;
    width: 100%;
    height: 50px;
    padding-top: 20px;
    padding-bottom: 60px;
    margin-left: -9%;
}

#personal_posts h4{
    font-family: redressed, helvetica;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 3vh;
    text-align: center;
}

#personal_posts h5 {
    font-weight:normal;
    font-family: antic-didone, "comic sans ms";
    font-size: 2vh;
    text-align: center;
}

#profile_posts h1 {
    font-family: redressed, helvetica;
    font-size: 5vh;
    margin-left: 30%;
}

#reply_div {
    margin-bottom: 30%;
}

